---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: "Transiscapade, l'escapade au coeur des territoires pour découvrir les alternatives inspirantes pour un monde plus soutenable",
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Soutenez le projet',
        href: 'https://fr.tipeee.com/transiscapade',
        target: '_blank',
        icon: 'tabler:moneybag',
      },
      { text: 'En savoir plus', href: '/accueil/qui' },
    ]}
  >
    <Fragment slot="title">
      L'escapade au coeur de la transition !
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">Transiscapade</span>, un projet qui vous emporte au coeur des territoires, pour découvrir les alternatives inspirantes pour un monde plus soutenable</span
      >
    </Fragment>
  </Hero>

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="DEFINITIONS"
    title="Transi-quoi ? C'est quoi tous ces termes ?"
    subtitle="Voici quelques définitions pour mieux comprendre... :)"
    items={[
      {
        title: "Transi-tion",
        description:
          "La transition, c'est l'évolution de l'humanité vers un monde plus soutenable",
        icon: 'tabler:route',
      },
      {
        title: "Transi-scapade",
        description:
          "Une transiscapade, est un voyage à bord d'un véhicule intermédiaire, pour aller découvrir les alternatives dans les territoires",
        icon: 'tabler:bike',
      },
      {
        title: "Transi-scope",
        description:
          "Transiscope.org est un site web contenant une carte agrégative d'une cinquantaine de sources locales (bases de données d'alternatives), animés par des groupes locaux, qui référencent des alternatives de transition",
        icon: 'tabler:search',
      },
      {
        title: "Transi-scothon",
        description:
          "C'est un événement organisé par le projet Transiscope tous les 6 mois, dans une ville de France, pour fêter et cartographier les alternatives locales",
        icon: 'tabler:home',
      }
    ]}
  />

</Layout>
