---
import { Image } from 'astro:assets';
import { SITE } from '~/utils/config';
import logo from '~/assets/favicons/favicon.svg';
---

<div class="flex justify-start">
  <Image src={logo} alt={SITE?.name} width={70} />
  <div class="pt-5 ml-2 text-2xl md:text-xl text-black whitespace-nowrap dark:text-white">
    {SITE?.name}
  </div>
</div>
